/*==================================COMMON*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .container {
    padding-left: 35px;
  	padding-right: 35px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 15px;
  	padding-right: 15px;
  }
}

/* ==================================HEADER */

.header {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	background-size: cover;
	position: relative;
	z-index: 0;
	padding: 30px 0;
}

.header::after {
	content: "";
	position: absolute;
	background-color: #000000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.6;
	z-index: -1;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	width: 180px;
}

.burger-menu {
  display: none;
}

.burger-menu span {
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.burger-menu span:first-child {
  top: 0;
}

.burger-menu span:last-child {
  top: auto;
  bottom: 0;
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:first-child {
  transform: rotate(-45deg);
  top: 8px;
}

.burger-menu.active span:last-child {
  transform: rotate(45deg);
  top: 8px;
}

.menu-list {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #ffffff;
	line-height: 1.2;
}

.menu-link:hover {
	text-decoration: underline;
}

.menu-list-items:nth-child(n+2) {
	margin-left: 50px;
}

.header-title {
	font-size: 50px;
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.6;
	text-align: center;
	max-width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding: 130px 0 120px 0;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../img/banner-bg-tablet.jpg);
    padding: 35px 0;
  }

  .header-logo {
    width: 155px;
  }

  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 35px;
    width: 23px;
    height: 18px;
    cursor: pointer;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../img/banner-mobile.jpg);
  }

  .header-navigation {
    justify-content: center;
    padding-top: 225px;
  }

  .header-logo {
    width: 270px;
  }

  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 23px;
    height: 18px;
    cursor: pointer;
  }

  .header-title {
    font-size: 26px;
    padding: 40px 15px 215px 15px;
  }
}



/*==================================MAIN*/

/* trends block styles */
.trends-box {
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

h2.trend-block-title {
  font-size: 20px;
}

.trends {
  display: flex;
  margin-top: 30px;
}

.trend-card {
  width: 25%;
  margin-left: 3px;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.trend-card::after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend-card:nth-child(1) {
  margin-left: 0;
  background-image: url(../img/trend1.jpg);
}

.trend-card:nth-child(2) {
  background-image: url(../img/trend2.jpg);
}

.trend-card:nth-child(3) {
  background-image: url(../img/trend3.jpg);
}

.trend-card:nth-child(4) {
  background-image: url(../img/trend4.jpg);
}

.trend-card-info {
  border: 4px solid rgb(181, 159, 91, .6);
  padding: 20px;
  margin: 20px;
}

a.trend-card-title {
  color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .trends-box {
    margin-top: 45px;
  }

  .trends {
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc(50% - 1.5px);
    min-height: 250px;
    margin: 0 0 3px 3px;
  }

  .trend-card:nth-child(3) {
    margin: 0;
  }

  .trend-card:nth-child(4) {
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {

  .trends-box {
    margin-top: 40px;
  }

  .trends {
    margin-top: 25px;
    flex-wrap: wrap;
  }

  .trend-card {
    width: 100%;
    margin: 0 0 3px 0;
  }

  .trend-card:last-child {
    margin-bottom: 0;
  }
}

/* posts styles */
.container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.posts {
  max-width: 780px;
}

.post {
  display: flex;
}

.post:not(:last-child) {
  margin-bottom: 60px;
}

.post-preview {
  max-width: 380px;
}

.post-info {
  margin-left: 30px;
}

.tegs-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tegs-link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  text-transform: uppercase;
}

.tegs-link:hover {
  text-decoration: underline;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 14px; */
  line-height: 24px;
}

.post-title:hover {
  color: #b59f5b;
}

.post-meta {
  margin-right: 15px;
  margin-top: 30px;
}

.post-date {
  font-size: 12px;
  color: #888888;
}

.post-author {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}

.post-content {
  line-height: 22px;
  color: #0f0d0e;
}

.post-content > p:not(:first-child) {
  margin-top: 10px;
}

@media (min-width: 641px) and (max-width: 1200px) {

  .container-main {
    justify-content: center;
    margin-top: 45px;
  }

  .posts {
    max-width: 380px;
    margin-right: 35px;
  }

  .post {
    flex-wrap: wrap;
  }

  .post:not(:last-child) {
    margin-bottom: 40px;
    border-bottom: 3px solid #eeeeee;
  }

  .post-info {
    padding-top: 10px;
    margin-left: 0;
  }

  .post-content{
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .container-main {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    flex-wrap: wrap;
  }
}

/* aside styles */
.aside {
  width: 270px;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.section:not(:last-child) {
  margin-bottom: 60px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

.section-title:after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.6;
  margin: 9px auto 6px;
}

.new-post {
  display: flex;
  margin-top: 22px;
}

.new-post-img {
  width: 70px;
  margin-right: 20px;
}

.new-post-content {
  width: 180px;
}

.new-post-date {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-top: -4px;
  margin-bottom: 5px;
}

.new-post-title {
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  line-height: 18px;
}

.new-post-title:hover {
  color: #b59f5b;
}

.search {
  margin-top: 60px;
  display: flex;
}

.search-group {
  display: block;
  width: 220px;
}

.field {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;

  font-family: inherit;
  font-size: 13px;
  color: #000000;
  background-color: #f4f7f6;
}

.field:focus {
  outline: none;
  border: 2px solid #b59f5b;
  padding-left: 16px;
}

.button {
  box-sizing: border-box;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: #b59f5b;

  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.button-search {
  width: 50px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.button:hover {
  background-color: #323232;
}

.field-email {
  display: inline-block;
  height: 50px;
  margin-top: 22px;
  margin-bottom: 17px;
}

.button-submit {
  width: 100%;
}

.tags-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.tags-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  padding: 7px 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-link:hover {
  border-color: #b59f5b;
}

.section-list {
  display: block;
}

.themes-list {
  list-style: none;
  flex-direction: column;
  margin-top: 22px;
}

.themes-list-items {
  display: flex;
}

.themes-link {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #eeeeee;

  padding: 17px 0px;
  margin-right: 5px;
}

.themes-link:hover {
  color: #b59f5b;
}

.themes-link-numbers {
  font-size: 12px;
  color: #b59f5b;
  padding-left: 5px;
  vertical-align: super;
}

/* скрытое описание интерактива */
.socials-link-text {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* shop styles */
.shop-container {
  margin-top: 60px;
}

.shop-box {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
}

.shop-cards {
  max-width: 300px;
  margin: 23px;
}

.shop-content {
  outline: 4px solid rgb(181, 159, 91, .6);
  outline-offset: 19px;
  padding-top: 25px;
  margin-top: -10px;
  height: calc(100% - 198px);
}

.shop-title {
  text-transform: uppercase;
  padding-bottom: 8px;
}

.shop-info {
  margin-bottom: 24px;
}

.shop-info a {
  color: #b59f5b;
  text-decoration: none;
}

.shop-info a:hover {
  text-decoration: underline;
}

.shop-interaction {
  display: flex;
  justify-content: space-between;
}

.shop-price {
  align-self: center;
}

.old-price {
  text-transform: uppercase;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.new-price {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.button-shop {
  display: block;
  min-width: 140px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .shop-container {
    margin-top: 45px;
  }

  .shop-box {
    flex-wrap: wrap;
  }

  /* .shop-cards:nth-child(odd) {
    margin-right: 46px;
  } */
}

/*==================================FOOTER*/

.footer {
  margin-top: 60px;
}

.address {
	background-color: #f4f7f6;
  margin-bottom: 70px;
  padding: 30px 0;
}

.socials {
	list-style: none;
	display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item:not(:first-child) {
	margin-left: 20px;
}


.socials-link {
  display: block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}

.socials-link-facebook {
	background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-twitter {
	background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
	background-image: url("../svg/001-pinterest.svg");
}

.socials-link-instagram {
	background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
	background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyrights {
  text-align: center;
  margin-bottom: 40px;
}

.copyrights a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}
